name: .NET-Framework

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: [windows-latest]
    
    steps:
    - name: Checkout Code
      uses: actions/checkout@v2
    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v1
    - name: Setup NuGet
      uses: NuGet/setup-nuget@v1.0.2
    - name: Restore NuGet Packages
      run: nuget restore Spielesammlung/Spielesammlung.sln
    - name: Build
      run: msbuild Spielesammlung/Spielesammlung.sln
